  .custom
  {
    font-size: 30px;
  }
  .customimg
  {
    width: 50px;
  }
  .custom_minus
  {
    font-size: 30px;
  }
  .custombr
  {
    margin-top: 34px;
  }
  .error
  {
    color: red;
  }
 .alert
  {
    color: green;
  }
  .error
  {
    color: red;
  }
